.App {
  position: relative;
  background-image: linear-gradient(0deg,#1C3B50 0%, #006792 25%, #8A92A5 50%, #FFE3A4 75%, #F5A580 100%);
  animation-name: example;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  height: 100vh;
  font-family: montserrat;
}

h1 {
  margin: 0;
}

.titles {
  display: flex;
  justify-content: space-around;
  margin: 0 150px 0 160px;
  padding-top: 50px;
}

.input_half {
  display: flex;
  justify-content: center;
}

.input_box {
  width: 35vw;
  height:20vh;
  font-size: 100px;
  margin: 30px 20px 50px 20px;
  box-shadow: 5px 5px 20px gray;
  padding: 0 0 0 10px;
}

.button_part {
  display: flex;
  justify-content: center;
}

button {  
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background: white;
}

.display_half {
  display: flex;
  justify-content: space-around;
  
}

.titles2 {
  display: flex;
  justify-content: space-around;
  margin: 0 -30px;
  padding-top: 70px;
  color: white
}

.time_display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 30vh;
}

.time {
  color: white;
  font-size: 80px;
}

@keyframes example {
  0% {background-image: linear-gradient(0deg,#1C3B50 0%, #006792 25%, #8A92A5 50%, #FFE3A4 75%, #F5A580 100%);}
  50% {background-image: linear-gradient(0deg,#060405 0%, #863C1F 25%, #FBA55A 50%, #D0605E 75%, #735668 100%);}
  100% {background-image: linear-gradient(0deg,#1C3B50 0%, #006792 25%, #8A92A5 50%, #FFE3A4 75%, #F5A580 100%);}
}